
<!-- <button nz-button  nzPlacement="bottomRight" class="mp-button-primary addmodal" (click)="addNewCapakey()">
    {{'Add object'|translate}}
</button> -->

<div class="content" style="width: 100%; height: 468px;">
    <ag-grid-angular
      [rowData]="rowData"
      [enableCellTextSelection]="true"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef" 
      [context]="this"
    />
    <!--
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
    -->
  </div>

  <ng-template #addObjectManual let-modal>
	<div class="modal-header">	
        <h6 class="modal-title">{{'New object'| translate}}</h6>	
		<!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button> -->
	</div>
	<div class="modal-body" [formGroup]="form"> 
        <div class="loader-modal" [class.loderhide]="(loadingnewObject | async)==false">
            <div class="loader-index"><span></span></div>
            <svg>
              <defs></defs>
              <filter id="goo">
                <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
                <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"> </fecolormatrix>
              </filter>
            </svg>
          </div>
          <div class="row">
              <div class="col-12">
              <div class="form-group">
                <mat-form-field appearance="outline" class="matblock" style="padding-bottom: 25px; width: 100%;">
                    <mat-label>{{'Capakey' | translate}}</mat-label>
                    <!-- <input type="text" placeholder="{{'Capakey'| translate}}" matInput formControlName="capakey"
                        [matAutocomplete]="auto" [ngClass]="{ 'is-invalid': submitted && f['capakey'].errors }"> -->
                        <input type="text" placeholder="{{'Capakey'| translate}}" matInput formControlName="capakey"
                            [matAutocomplete]="auto" [ngClass]="{ 'is-invalid': f['capakey'].errors }">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let item of autoFilter | async" [value]="item.name"
                            (onSelectionChange)="changeCapakey(item.name)">
                            {{item.name}}
                        </mat-option>
                    </mat-autocomplete>
                    
                    <!-- <div *ngIf="submitted && f['capakey'].errors" class="invalid-feedback"> -->
                    <div *ngIf="f['capakey'].errors" class="invalid-feedback">
                        <div *ngIf="f['capakey'].errors['required']">{{'Capakey' | translate}} {{'is required' | translate}}</div>
                        <div class="invalid-feedback" *ngIf="f['capakey'].errors['pattern']">{{'Capakey' | translate}} {{'is invalid' | translate}}</div>
                    </div>
                    <mat-hint >{{f['capakeyAdress'].value}}</mat-hint>
                </mat-form-field>
            </div>
            </div>
          </div>
          <div class="row" *ngIf="f['capakey'].valid">
            <div class="col-sm-12 col-md-4 pt-3">
              <!-- <button [disabled]="loading" class="btn btn-sm btn-block btn-success btn-exon" (click)="addThisCapakey()">         -->
              <button class="btn btn-sm btn-block btn-success btn-exon" (click)="addThisCapakey()">        
                  {{'Add' | translate}}
              </button>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light f-right" aria-label="Close" (click)="modal.dismiss()">{{'Close' | translate}}</button>
    </div>
</ng-template>