<div nz-row>
    <div nz-col [nzSpan]="20">
            <button nz-button nzType="primary" class="addContact" [nzSize]="'large'" (click)="openDrawer()">
                <span><span nz-icon nzType="plus" nzTheme="outline"> </span> {{'Add'|translate}}</span>
            </button>

            
            <!-- <button nz-button nzType="primary" [nzSize]="'large'" nzDanger (click)="openTemplate()"> 
              <span><span nz-icon nzType="plus" nzTheme="outline"> </span> {{'Add'|translate}}</span>
          </button> -->
    </div>
    <div nz-col [nzSpan]="4">
        <nz-segmented nzBlock nzSize="large" [(ngModel)]="selectedOption" (nzValueChange)="valueChanged($event)" [nzOptions]="options"></nz-segmented>
    </div>
</div>
<div nz-row>
    <div nz-col [nzSpan]="24">
        <br>
    </div>
</div>


@if(selectedOption==0){ 
    <app-contacts-individual-table></app-contacts-individual-table>
} @else {
    <app-contacts-companies-table></app-contacts-companies-table>
}

<!-- <ng-template #drawerTemplate let-data let-drawerRef="drawerRef">
  value: {{ data?.value }}
  <br />
  <br />
  <button nz-button nzType="primary" (click)="drawerRef.close()">close</button>
</ng-template> -->
