.ant-input {
    border: 1px solid #999;
    border-radius: 6px !important;
    padding: 10px 15px !important;
}

a {
    color: #E43B4E;
}

button.login-form-margin {
    width: 100%;
    border-radius: 6px;
}

.ant-form-item {
    margin-bottom: 25px;
}

button {
    height: 59px !important;
}