<img class="login-form-logo" src="../../assets/img/logo.png" />
@if(allertMessage.message){ 
    <nz-alert  [nzType]="allertMessage.type" [nzMessage]="allertMessage.message" nzShowIcon></nz-alert>
} @else {
    <nz-alert  [nzType]="'info'" [nzMessage]="'Enter your email address and we\'ll send you a reset link.' | translate" nzShowIcon></nz-alert>
}

<form nz-form [formGroup]="form" class="login-form"  (ngSubmit)="onSubmit()"> 
    <nz-form-label nzFor="email">{{'Email' |translate}}</nz-form-label>
    <nz-form-item>
        <nz-form-control nzErrorTip="">
            <!-- <nz-input-group nzPrefixIcon="user"> -->
            <nz-input-group>
                <input type="text" nz-input formControlName="email" [placeholder]="'Enter your email address'| translate" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
        <!-- <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
            </label>
        </div> -->
    </div>
    <button nz-button class="login-form-button login-form-margin">{{'Send Email' |translate}}</button>
   <!-- <br />
    <button nz-button class="login-form-margin" [nzType]="'default'" nzDanger>{{'Resend' |translate}}</button>   
    -->
    <div nz-col [nzSpan]="12">
        <a class="login-form-forgot" href="/account/login">{{'Return to Log In' |translate}}</a>
    </div>
    <!-- Or
<a>register now!</a> -->
</form>
