.row-configuration{
    border-radius: 5px;
    border-color: #D9D9D9;
    background-color: #FAFAFA;
    height: 55px;
    align-items: center;
    margin-bottom: 26px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: var(--Radius-S, 4px);
    border: 1px solid var(--Gray-exo-base-gray-5, #D9D9D9);
    background: var(--Grayscale-Surface-Subtle, #FAFAFA);
}

.v-avatar{
    height: 28px;    
    width: 28px;
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;  
}

 .mp-icon{
    /*align-items: center;*/
    display: flex !important;
    flex-direction: column;
    align-items: center;
 }


.v-application .primary--text {
    color: #FFF !important;
    caret-color: #FFF !important;
}

.v-avatar.primary {
    background-color: #FFF !important;
    border-color: #FFF !important;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    transition: color .3s;
}
.v-application .primary.lighten-1 {
    background-color: #f0ebf9 !important;
    border-color: #f0ebf9 !important;
}

.v-application .mb-2 {
    margin-bottom: 8px!important
}

.v-icon.v-icon {
    font-feature-settings: "liga";
    align-items: center;
    display: inline-flex;
    font-size: 24px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    transition: .3s cubic-bezier(.25,.8,.5,1), visibility 0s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.rounds {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background: #FFF;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    transition: color .3s;
}

.text-drawer-header{ 
    color:  #777777;
    font-weight: 300;
    font-size: 14px;
  }
  
::ng-deep .ant-drawer-content-wrapper {
    margin-top: 0!important;
    margin-bottom: 0!important;
   }

#add-configuration-button {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 26px;
}

#add-configuration-button:hover {
    color: #E43B4E;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 26px;
  }

#config-name {
    color: var(--Gray-exo-base-gray-10, #333);

    /* Heading / H4 / Small / Semi Bold */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    letter-spacing: -0.3px;
}