<!-- <a (click)="showModal(valueFormatted)">{{ 'Screenings' }}</a>
<a class="del" (click)="deleteContact(valueFormatted)">{{ 'Delete' }}</a> -->

<div nz-row >
    <div nz-col [nzSpan]="24" style="text-align: right;">
      <img [src]="'/assets/img/icons/svg/preview.svg'" (click)="showModal(valueFormatted)" class="actionsIco" nz-tooltip [nzTooltipTitle]='"Screenings" | translate'>
      <img [src]="'/assets/img/icons/svg/trash.svg'" (click)="deleteContact(valueFormatted)" class="actionsIco" nz-tooltip [nzTooltipTitle]='"Remove" | translate'>
    </div>
  </div> 
