.dropdown-role{
    border-radius: 20px!important;
    background-color: #D9D9D9;
    color: black;    
    height: 25px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
}


