    <div nz-row class="row-margin row-center">
        <nz-col [nzSpan]="24">
          @if(twofaSuccessEnabled==false){ 
            <!-- <h3>{{'Two Factor Authentication'|translate}}</h3> -->
          }@else if (twofaSuccessEnabled==true && recoveryCodes.length>0) {
            <h3>{{'Successfull 2FA Connection'|translate}}</h3>
          }@else {
            <h3>{{'2FA Connection Failed'|translate}}</h3>
            <div nz-row class="row-margin row-left">
              <nz-col [nzSpan]="24">
                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="goToLogin()" nzDanger>{{"Log in"|translate}}</button>
              </nz-col>
            </div>
          }
        </nz-col>
    </div>
  
    @if(allertMessage.message){ 
        <nz-alert  [nzType]="allertMessage.type" [nzMessage]="allertMessage.message" nzShowIcon></nz-alert>
    }
    @if(loaded==true){ 
      @if(twofaSuccessEnabled==false){ 
        <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()">
          <div nz-row class="row-margin row-left">
            <nz-col [nzSpan]="24">
              <p><b>{{'Step 1: '|translate}}</b> {{'You will need to download an authenticator app' | translate}}.</p>
            </nz-col>
          </div>
          
          <div nz-row class="row-margin row-center ">
            <nz-col nzSpan="11">
              <a href="https://www.microsoft.com/en-us/security/mobile-authenticator-app#overview" target="_blank">
                <img class="login-form-authenticator-icon" src="../../assets/img/microsoft_authenticator.png" />
              </a>
              
            </nz-col>
            <nz-col nzSpan="2">
              <img  src="../../assets/img/line_separator.png" />
            </nz-col>
            <nz-col nzSpan="11">
              <a href="https://www.microsoft.com/en-us/security/mobile-authenticator-app#overview" target="_blank">
                <img class="login-form-authenticator-icon" src="../../assets/img/google_authenticator.png" />
              </a>        
            </nz-col>
          </div>
          <div nz-row class="row-margin row-left">
            <nz-col [nzSpan]="24">
              <p><b>{{'Step 2: '|translate}}</b> {{'Scan the QR Code with your authenticator app' | translate}}.</p>
            </nz-col>      
          </div>
          <div nz-row class="row-margin row-center row-qr">
            <nz-col [nzSpan]="24">
              <qrcode [allowEmptyString]="true" [qrdata]="qrcode" [width]="140" [errorCorrectionLevel]="'M'"></qrcode>
            </nz-col>      
          </div>
          <div nz-row class="row-margin row-center ">
            <div nz-col [nzSpan]="24">
              <label class="grayed">{{"Alternatively, you can enter this secret key into your authenticator app."|translate}}</label>
              &nbsp;
              <a href="https://go.microsoft.com/fwlink/?Linkid=852423" target="_blank">{{'Documentation'|translate}}</a>   
            </div>
            <nz-col [nzSpan]="24">
              <nz-input-group [nzSuffix]="suffixTemplateInfo" id="twoFaInputGroup">
                <input type="text" [disabled]="false" nz-input placeholder="Enter your code" [(ngModel)]="sharedKey" [ngModelOptions]="{standalone: true}" id="twoFaInput"/>
              </nz-input-group>
              <ng-template #prefixTemplateUser>
              <!--<span nz-icon nzType="copy"></span>-->               
              </ng-template>
              <ng-template #suffixTemplateInfo>
                <span nz-icon nzType="copy_custom" nzTheme="outline" (click)="copyToClipboard()" ></span>
              </ng-template>          
            </nz-col>
          </div>
          <div nz-row class="row-margin row-left">
            <nz-col [nzSpan]="24">
              <p><b>{{'Step 3: '|translate}}</b> {{'Enter the six-digit code generated by your authenticator' | translate}}.</p>
            </nz-col>
      
          </div>
          <div nz-row class="row-margin row-center ">
            <nz-col [nzSpan]="24">
              <nz-input-group id="two-factor-input" nzCompact >
                <input type="text" id="id_1" maxlength="1" (keyup)="onKeyUp($event,'id_2')" nz-input  formControlName="code1" style="width:15%; margin: 0px 5px 20px 0px" />
                <input type="text" id="id_2" maxlength="1" (keyup)="onKeyUp($event,'id_3')" nz-input  formControlName="code2" style="width:15%; margin: 0px 5px 20px 0px" />
                <input type="text" id="id_3" maxlength="1" (keyup)="onKeyUp($event,'id_4')" nz-input  formControlName="code3" style="width:15%; margin: 0px 5px 20px 0px" />
                <input type="text" id="id_4" maxlength="1" (keyup)="onKeyUp($event,'id_5')" nz-input  formControlName="code4" style="width:15%; margin: 0px 5px 20px 0px" />
                <input type="text" id="id_5" maxlength="1" (keyup)="onKeyUp($event,'id_6')" nz-input  formControlName="code5" style="width:15%; margin: 0px 5px 20px 0px"/>
                <input type="text" id="id_6" maxlength="1" (keyup)="onKeyUp($event,'id_submit')" nz-input  formControlName="code6" style="width:15%; margin: 0px 5px 20px 0px" />
              </nz-input-group>
            </nz-col>
          </div>
          <div nz-row class="row-margin row-center ">
            <button id="id_submit" nz-button type="submit" class="login-form-button login-form-margin" >
              <span *ngIf="ontwofactorenable" class="spinner-border spinner-border-sm mr-1"></span>
              {{ 'Verify Now' | translate }}
              </button>
          </div>
        </form>
      }@else if(twofaSuccessEnabled==true && recoveryCodes.length>0){ 
        <div nz-row class="row-margin row-left">
          <nz-col [nzSpan]="24">
            <p class="grayed"> {{'If you lose your device and you do have the recovery codes, you will loose access to your account.' | translate}} <b>{{'Please save these codes.'|translate}}</b></p>
          </nz-col>
        </div>
        <div nz-row class="row-margin row-center">
          <nz-col [nzSpan]="24">          
              <ul class="list" >
                @for (recoveryCode of recoveryCodes; track recoveryCode) {
                    <li>
                      {{recoveryCode}}
                    </li>
                  }
              </ul>       
          </nz-col>
        </div>
        <div nz-row class="row-margin row-left">
          <nz-col [nzSpan]="24">
            <button nz-button class="login-form-margin login-form-download" [nzType]="'default'" (click)="downloadRecoveryCodes()"  nzDanger>{{'Download' |translate}}</button> 
          </nz-col>
        </div>
        <!-- <div nz-row class="row-margin row-left">
          <nz-col [nzSpan]="24">
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="goToLogin()" nzDanger>{{"Log in"|translate}}</button>
          </nz-col>
        </div> -->
  
        
      
      }
    }