.switch-menu-env {
    margin-top: 25px;
    border-radius: 4px !important;
    
}
.switch-menu-env label.ant-segmented-item-selected {
    background-color: #E43B4E !important;
    height: 36px;
    color: white !important;
}
.switch-menu-env label {
    background-color: white;
    height: 36px;
}
