<ng-template [nzModalTitle]>{{'Attachments'| translate}}
    <div class="put-right">
        <a href="https://bodemattest.ovam.be/" target="_blank" style="font-size: 12px;">{{'OVAM attest' | translate}}</a>
        &nbsp;
       <a href="https://financien.belgium.be/nl/particulieren/woning/kadaster/kadastraal-uittreksel/myminfin#q1" style="font-size: 12px;" target="_blank">{{'Kadastrale legger' | translate}}</a>
    </div>

</ng-template>


<div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24" class="uploader">
        <div class="dropzone dropzone-primary" 
        [dropzone]="config1" 
        (init)="onUploadInit($event)"
        (error)="onUploadError($event)" 
        (success)="onUploadSuccess($event)">
            <div class="dz-message needsclick text-center">
                <span nz-icon nzType="plus"></span>
                <h6>{{'Upload'| translate }}</h6>
            </div>
        </div>
    </div>
</div>
<div nz-row [nzGutter]="16">
<div nz-col [nzSpan]="6" *ngFor="let file of lstAttachments" class="filesListed">
<div class="file-top">

        <span nz-icon class="fileType" [nzType]="getExtension(file?.file_extension)"></span>
        <div class="fileActions">

            @if (getExtension(file?.file_extension) == 'file-pdf') {
                <span nz-icon nzType="eye" (click)="showPreview(file)" class="eyeAction"></span>
            } @else if (getExtension(file?.file_extension) == 'file-word') {
                <span nz-icon nzType="eye" (click)="showPreview(file)" class="eyeAction"></span>
            } @else if (getExtension(file?.file_extension) == 'file-image') {
                <span nz-icon nzType="eye" (click)="showImage(file)" class="eyeAction"></span>
            } @else {
                <span nz-icon nzType="eye" (click)="download(file)" class="eyeAction"></span>
            }

            <span nz-icon nzType="close" (click)="deleteConfirm(file.id)"></span>
        </div> 
        <span class="attachmentTimecode">{{file?.created_at | date: 'short'}}</span>     
        <!--
        <div class="fileActions">
            <span nz-icon nzType="eye" (click)="download(file)" class="eyeAction"></span>
            <span nz-icon nzType="close" (click)="deleteConfirm(file.id)"></span>
        </div>                                    
        -->
</div>                  
<div class="file-bottom" nz-typography nzEllipsis nz-tooltip [nzTooltipTitle]='file?.name'>
    {{file?.name}} 
</div>
</div>
  <ng-template #attachmentLinks>
    <a href="https://bodemattest.ovam.be/" target="_blank">{{'OVAM attest' | translate}}</a>
    <a href="https://financien.belgium.be/nl/particulieren/woning/kadaster/kadastraal-uittreksel/myminfin#q1" target="_blank">{{'Kadastrale legger' | translate}}</a>
  </ng-template>
