<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm($event)">
    <mat-form-field class="matblock" appearance="outline">
        <mat-label>{{'Address' | translate}}</mat-label>
        <input type="text" placeholder="{{'Address'| translate}}" matInput formControlName="address" [matAutocomplete]="auto">
        <!--<mat-icon matSuffix>search</mat-icon>-->
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let item of autoFilter | async" [value]="item.name"
                (onSelectionChange)="changeAddress(item)">
                {{item.name}}
            </mat-option>
        </mat-autocomplete>
        <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
            <div *ngIf="f['address'].errors['required']">{{'Address' | translate}} {{'is required' | translate}}</div>
        </div>
    </mat-form-field>
    <app-capakey-basic 
            [bKlim]="bKlim" 
            (oCapaBasic)="selectionChange($event)" 
            (onSubmitButton)="submitForm($event)"  
            *ngIf="capaKey!==''" 
            [capaKey]="capaKey"
            [tableRowData]="_tableRowData"
            >
    </app-capakey-basic>
</form>
    