
<ng-container *nzModalTitle>
  <span  id="printfrommodal" class="move-right" nz-icon nzType="printer"  (click)="printComponent()"></span> 
  {{formTitle}}
  <small class="text-warning"> {{"Status" |translate }} : {{formStatus}} </small>  
</ng-container>


<nz-collapse nzGhost>
  <nz-collapse-panel [nzHeader]="'I. Contact details'" [nzActive]="true">
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <!-- <h6 class="mb-1">I. {{'Contact details' }}</h6> -->


      <div class="row pb-1">
        <div class="col col-4">
          <span><strong>{{'Name' | translate}}:</strong> {{contact?.name}}</span><br>
          <span *ngIf="contact?.contactType == contactType.Individual"><strong>{{'Last name' | translate}}:</strong> {{contact?.lastName}}</span>
        </div>
        
        <div class="col col-4">
          <span *ngIf="contact?.contactType == contactType.Individual"><strong>{{'Birth place' | translate}}:</strong> {{contact?.birthPlace}}</span><br>
          <span *ngIf="contact?.contactType == contactType.Company"><strong>{{'Legal form' | translate}}:</strong> {{contact?.legalForm}}</span>
          <span *ngIf="contact?.contactType == contactType.Individual"><strong>{{'Birth date' | translate}}:</strong> {{contact?.birthDate | date: "MM/dd/yyyy"}}</span><br>
          <span *ngIf="contact?.contactType == contactType.Company"><strong>{{'Founding date'| translate }}:</strong> {{contact?.foundingDate | date: "MM/dd/yyyy"}}</span>
        </div>

        <div class="col col-4">
          <span><strong>{{'Street' | translate }}:</strong> {{contact?.street}}</span><br>
          <span><strong>{{'No.' }}:</strong> {{contact?.streetNumber}}</span>
        </div>
      </div>

      <div class="row pb-1">

        <div class="col col-4">
          <span><strong>{{'Activity' | translate}}:</strong> {{contact?.activity}}</span><br>
          <span><strong>{{'Nationality' | translate}}:</strong> {{contact?.nationality}}</span>
        </div>
        
        <div class="col col-4">
          <span><strong>{{'ZIP Code' | translate}}:</strong> {{contact?.zip}}</span><br>
          <span><strong>{{'City' | translate}}:</strong> {{contact?.city}}</span>
        </div>

        <div class="col col-4">
          <span><strong>{{'Bus' }}:</strong> {{contact?.bus}}</span><br>
          <span><strong>{{'Country' | translate}}:</strong> {{contact?.country}}</span>
        </div>
      </div>

      <div class="row pb-1">

        <div class="col col-4">
          <div class="col col-4">
            <span><strong>{{'Email' | translate}}:</strong> {{contact?.email}}</span><br>
            <span><strong>{{'URL' | translate}}:</strong> {{contact?.url}}</span>
          </div>
        </div>
        
        <div class="col col-4">
          <span><strong>{{'Phone' | translate}}:</strong> {{contact?.phone}}</span><br>
          <span><strong>{{'Mobile' | translate}}:</strong> {{contact?.gsm}}</span>
        </div>

        <div class="col col-4">
          <span><strong>{{'BTW' }}:</strong> {{contact?.vatNumber}}</span><br>
          <span><strong>{{'FAX' }}:</strong> {{contact?.fax}}</span>
        </div>
      </div>

  </div>
</nz-collapse-panel>
</nz-collapse>

<div>
  <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of parsed | keyvalue:keepOriginalOrder">


        <div *ngIf="item?.value['contactId']">
          <nz-collapse nzGhost>
            <nz-collapse-panel [nzHeader]="item.value['name']" [nzActive]="true">
            <div>
                {{item.key}}
            </div>
            <div class="">
                <div class="row pb-1">
                    <div class="col col-6">{{'Name' | translate}}: <strong>{{item.value['name']}}</strong></div>
                    <div class="col col-6" *ngIf="item?.value['contactType'] == contactType.Individual">{{'Last name' }}: <strong>{{item.value['lastName']}}</strong></div>
                </div>
                <div class="row pb-1">
                    <div class="col col-6" *ngIf="item.value['contactType'] == contactType.Individual">{{'Birth place' | translate}}: <strong>{{item.value['birthPlace']}}</strong></div>
                    <div class="col col-6" *ngIf="item.value['contactType'] == contactType.Company">{{'Legal form' | translate}}: <strong>{{item.value['legalForm']}}</strong></div>
                    <div class="col col-6" *ngIf="item.value['contactType'] == contactType.Individual">{{'Birth date' | translate}}: <strong>{{item.value['birthDate'] | date: "MM/dd/yyyy"}}</strong></div>
                    <div class="col col-6" *ngIf="item.value['contactType'] == contactType.Company">{{'Founding date' | translate}}: <strong>{{item.value['foundingDate'] | date: "MM/dd/yyyy"}}</strong></div>
                </div>
                <div class="row pb-1">
                    <div class="col col-6">{{'Street' | translate}}: <strong>{{item.value['street']}}</strong></div>
                    <div class="col col-3">{{'Nr.' }}: <strong>{{item.value['streetNumber']}}</strong></div>
                    <div class="col col-3">{{'bus' }}: <strong>{{item.value['bus']}}</strong></div>
                </div>
                <div class="row pb-1">
                    <div class="col col-4">{{'ZIP Code' | translate}}: <strong>{{item.value['zip']}}</strong></div>
                    <div class="col col-4">{{'Gemeente' }}: <strong>{{item.value['city']}}</strong></div>
                    <div class="col col-4">{{'Country' | translate}}: <strong>{{item.value['country']}}</strong></div>
                </div>
                <div class="row pb-1">
                    <div class="col col-4">{{'Tel' | translate}}: <strong>{{item.value['phone']}}</strong></div>
                    <div class="col col-4">{{'Fax' | translate}}: <strong>{{item.value['fax']}}</strong></div>
                    <div class="col col-4">{{'Mobile' | translate}}: <strong>{{item.value['gsm']}}</strong></div>
                </div>
                <div class="row pb-1">
                    <div class="col col-6">{{'Email' | translate }}: <strong><a href="mailto:{{item.value['email']}}">{{item.value['email']}}</a></strong></div>
                    <div class="col col-6">{{'URL' | translate}}: <strong><a href="{{item.value['url']}}" target="_blank">{{item.value['url']}}</a></strong></div>
                </div>
                <div class="row pb-1">
                    <div class="col">{{'Nationality' | translate}}: <strong>{{item.value['nationality']}}</strong></div>
                </div>
                <div class="row pb-1">
                    <div class="col">{{'Activity' | translate}}: <strong>{{item.value['activity']}}</strong></div>
                </div>
                <div class="row">
                    <div class="col">{{'BTW #' }}: <strong>{{item.value['vatNumber']}}</strong></div>
                </div>
            </div>

          </nz-collapse-panel>
        </nz-collapse>
        </div>
  
</div>

</div>  
      <!-- <div *ngIf="item.value?.contactId == undefined">
          {{item.key}}
          <b style="float: right">{{item.value}}</b>
      </div> -->

<!-- <form *ngIf="!addMode" [formGroup]="formBuild" (ngSubmit)="onSubmit()"> -->
<form [formGroup]="formBuild">
    <div *ngFor="let block of form?.formBlocks" class="list-group-item list-group-item-action flex-column align-items-start">


        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">{{block.label}}</h6>
        </div>
        <p class="mb-2 text-danger"><small>{{block.hint}}</small></p>
        <div *ngFor="let input of block.formBlockInputs; first as isFirst" class="my-3 inputDiv" [ngClass]="isFirst ? 'first' : ''">
          
        <nz-collapse nzGhost>
          <nz-collapse-panel [nzHeader]="input.label" [nzActive]="true">
                <!-- <span class="inputTitle">{{input.label}}</span><br> -->

                <div *ngIf="input.inputType === 'Boolean'" class="inputContainer">
                      <div class="m-t-3 m-checkbox-inline custom-radio-ml text-right">
                        <mat-radio-group aria-label="Select an option" [formControlName]="input.label">
                            <mat-radio-button value="Ja" style="padding-left: 0;">{{'Ja'}}</mat-radio-button>
                            <mat-radio-button value="Neen">{{'Neen'}}</mat-radio-button>
                          </mat-radio-group>
                      </div>
                </div>
                
                <div *ngIf="input.inputType === 'Text'" class="inputContainer">
                  <div class="m-t-15 m-checkbox-inline custom-radio-ml text-right">
                          <input type="text" value="" class="form-control" [formControlName]="input.label" readonly>
                  </div>
                </div>

                <div *ngIf="input.inputType === 'TextArea'" class="inputContainer">
                  <div class="m-t-15 m-checkbox-inline custom-radio-ml text-right">
                          <textarea rows="4" class="form-control" [formControlName]="input.label"></textarea>
                  </div>
                </div>
                
                <div *ngIf="input.inputType === 'Date'" class="inputContainer">
                  <div class="m-t-15 m-checkbox-inline custom-radio-ml text-right">
                          <input type="date" class="form-control" [formControlName]="input.label">
                  </div>
                </div>
                <div *ngIf="input.inputType === 'SignaturePad'">
                      <div class="m-t-15 m-checkbox-inline custom-radio-ml text-right">                                                                         
                           <app-signaturepad [formControlName]="input.label" [disabled]="true" ></app-signaturepad>                                                
                      </div>
                </div>
    
          
                <div *ngIf="input.inputType === 'Contact' && input.label!=null && input.label!=undefined">
                  <div class="m-t-15 text-right">    
                                              
                  <!-- <select  class="form-select" bindValue="contactId" [formControlName]="input.label">
                    <option disabled selected ngValue="null">{{'Select' }}</option>
                    <option [ngValue]="cont" *ngFor="let cont of contacts" >{{cont.name}} {{cont.lastName}}</option>
                  </select> -->

                  <select class="form-select" [(ngModel)]="arrComboModels[input.label]"  [ngModelOptions]="{standalone: true}" (change)="onFieldsChange($event,input.label)">
                      <option  selected ngValue="/">{{'Select'}}</option>
                      <option *ngFor="let cont of contacts" [value]="cont.contactId">{{ cont.name }} {{cont.lastName}}</option>
                  </select>   

                  </div>
                </div>


                <div *ngIf="input.inputType === 'Info'">
                  <div class="m-t-15 m-checkbox-inline custom-radio-ml text-right">
                      <div class="alert alert-primary">
                          <span nz-icon nzType="info-circle"></span> {{input.value}}
                      </div>
                  </div>
                </div>

                <div *ngIf="input.hint && input.hint !== ''" class="text-info"><span ><span nz-icon nzType="info-circle"></span> {{input.hint}}</span></div>
            </nz-collapse-panel>
          </nz-collapse>

        </div>
    </div>

</form>

<div class="no-print page-break" #printSection>

  <div style="text-align: center;">
    <!-- <img src="../../../../assets/img/logo.png" alt="logo"> -->
    <h4><strong>{{'AWW'}}:</strong> {{form.name}}</h4>    
    <h6>{{'Submitted on'}}: {{submission.submittedOn | date: 'MM/dd/yyyy'}} | {{'Status'}}: {{submission.status}}</h6>
  </div>

  <div class="list-group-item list-group-item-action flex-column align-items-start">
      <h5 class="mb-1">I. {{'Contact details' }}</h5>


      <div class="row pb-1">
        <div class="col col-4">
          <span><strong>{{'Name' }}:</strong> {{contact?.name}}</span><br>
          <span *ngIf="contact?.contactType == contactType.Individual"><strong>{{'Last name' }}:</strong> {{contact?.lastName}}</span>
        </div>
        
        <div class="col col-4">
          <span *ngIf="contact?.contactType == contactType.Individual"><strong>{{'Birth place' }}:</strong> {{contact?.birthPlace}}</span><br>
          <span *ngIf="contact?.contactType == contactType.Company"><strong>{{'Legal form' }}:</strong> {{contact?.legalForm}}</span>
          <span *ngIf="contact?.contactType == contactType.Individual"><strong>{{'Birth date' }}:</strong> {{contact?.birthDate | date: "MM/dd/yyyy"}}</span><br>
          <span *ngIf="contact?.contactType == contactType.Company"><strong>{{'Founding date' }}:</strong> {{contact?.foundingDate | date: "MM/dd/yyyy"}}</span>
        </div>

        <div class="col col-4">
          <span><strong>{{'Street' }}:</strong> {{contact?.street}}</span><br>
          <span><strong>{{'No.' }}:</strong> {{contact?.streetNumber}}</span>
        </div>
      </div>

      <div class="row pb-1">

        <div class="col col-4">
          <span><strong>{{'Activity' }}:</strong> {{contact?.activity}}</span><br>
          <span><strong>{{'Nationality' }}:</strong> {{contact?.nationality}}</span>
        </div>
        
        <div class="col col-4">
          <span><strong>{{'Postcode' }}:</strong> {{contact?.zip}}</span><br>
          <span><strong>{{'City' }}:</strong> {{contact?.city}}</span>
        </div>

        <div class="col col-4">
          <span><strong>{{'Bus' }}:</strong> {{contact?.bus}}</span><br>
          <span><strong>{{'Land' }}:</strong> {{contact?.country}}</span>
        </div>
      </div>

      <div class="row pb-1">

        <div class="col col-4">
          <div class="col col-4">
            <span><strong>{{'Email' }}:</strong> {{contact?.email}}</span><br>
            <span><strong>{{'URL' }}:</strong> {{contact?.url}}</span>
          </div>
        </div>
        
        <div class="col col-4">
          <span><strong>{{'Phone' }}:</strong> {{contact?.phone}}</span><br>
          <span><strong>{{'GSM' }}:</strong> {{contact?.gsm}}</span>
        </div>

        <div class="col col-4">
          <span><strong>{{'BTW' }}:</strong> {{contact?.vatNumber}}</span><br>
          <span><strong>{{'FAX' }}:</strong> {{contact?.fax}}</span>
        </div>
      </div>

  </div>
  <!-- /Printable contact screening -->

  <div *ngFor="let block of form?.formBlocks" class="list-group-item">


    <div class="">
      <h6 class="mb-1">{{block.label}}</h6>
    </div>
    <p class="mb-1 text-danger"><small>{{block.hint}}</small></p>
    <div *ngFor="let input of block.formBlockInputs; first as isFirst" class="my-1" [ngClass]="isFirst ? 'first' : ''">
      
    <!-- <nz-collapse nzGhost>
      <nz-collapse-panel [nzHeader]="input.label" [nzActive]="true"> -->
            <!-- <span class="inputTitle">{{input.label}}</span><br> -->

            <div *ngIf="input.inputType === 'Boolean'" class="inputContainer">

                  <div class="m-t-3 m-checkbox-inline custom-radio-ml text-right">
                    <div class="row">
                      <div class="col-9">
                        {{input.label}}
                      </div>
                      <div class="col-3">
                        {{input.value}}
                      </div>
                    </div>
                  </div>
            </div>
            
            <div *ngIf="input.inputType === 'Text'" class="inputContainer">
              <div class="m-t-15 m-checkbox-inline custom-radio-ml text-right">

                <div class="row">
                  <div class="col-12">
                    {{input.label}}
                  </div>
                  <div class="col-12">
                    {{input.value}}
                  </div>
                </div>

              </div>
            </div>

            <div *ngIf="input.inputType === 'TextArea'" class="inputContainer">
              <div class="m-t-15 m-checkbox-inline custom-radio-ml text-right">

                <div class="row">
                  <div class="col-12">
                    {{input.label}}
                  </div>
                  <div class="col-12">
                    {{input.value}}
                  </div>
                </div>
                      <!-- <textarea rows="4" class="form-control" [formControlName]="input.label"></textarea> -->
              </div>
            </div>
            
            <div *ngIf="input.inputType === 'Date'" class="inputContainer">
              <div class="m-t-15 m-checkbox-inline custom-radio-ml text-right">

                <div class="row">
                  <div class="col-12">
                    {{input.label}}
                  </div>
                  <div class="col-12">
                    {{input.value}}
                  </div>
                </div>

                      <!-- <input type="date" class="form-control" [formControlName]="input.label"> -->
              </div>
            </div>

           <div *ngIf="input.inputType === 'SignaturePad'" class="inputContainer">
              <div class="m-t-15 m-checkbox-inline custom-radio-ml">
                  <div class="row">
                    <div class="col-12">
                      {{input.label}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <img [src]="input.value"  [width]="200" [height]="100" />
                    </div>
                    <div class="col-9"></div>
                  </div>
                </div>                    
            </div>
      
            <div *ngIf="input.inputType === 'Contact' && input.label!=null && input.label!=undefined">
              <div class="m-t-15 text-right">    
                                          
              <!-- <select  class="form-select" bindValue="contactId" [formControlName]="input.label">
                <option disabled selected ngValue="null">{{'Select' }}</option>
                <option [ngValue]="cont" *ngFor="let cont of contacts" >{{cont.name}} {{cont.lastName}}</option>
              </select> -->

              <select class="form-select" [(ngModel)]="arrComboModels[input.label]"  [ngModelOptions]="{standalone: true}" (change)="onFieldsChange($event,input.label)">
                  <option  selected ngValue="/">{{'Select'}}</option>
                  <option *ngFor="let cont of contacts" [value]="cont.contactId">{{ cont.name }} {{cont.lastName}}</option>
              </select>   

              </div>
            </div>


            <div *ngIf="input.inputType === 'Info'">
              <div class="m-t-15 m-checkbox-inline custom-radio-ml text-right">
                  <div class="alert alert-primary">
                      <span nz-icon nzType="info-circle"></span> {{input.value}}
                  </div>
              </div>
            </div>

            <div *ngIf="input.hint && input.hint !== ''" class="text-info"><span ><span nz-icon nzType="info-circle"></span> {{input.hint}}</span></div>
        <!-- </nz-collapse-panel>
      </nz-collapse> -->

    </div>
</div>
<!-- /Printable form loop -->


<div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of parsed | keyvalue:keepOriginalOrder">


  <div *ngIf="item?.value['contactId']">
    <!-- <nz-collapse nzGhost>
      <nz-collapse-panel [nzHeader]="item.value['name']" [nzActive]="true"> -->
      <h5 class="mb-1">{{item.value['name']}}</h5>
      <div>
          {{item.key}}
      </div>
      <div class="">
          <div class="row pb-1">
              <div class="col col-6">{{'Name' }}: <strong>{{item.value['name']}}</strong></div>
              <div class="col col-6" *ngIf="item?.value['contactType'] == contactType.Individual">{{'Last name' }}: <strong>{{item.value['lastName']}}</strong></div>
          </div>
          <div class="row pb-1">
              <div class="col col-6" *ngIf="item.value['contactType'] == contactType.Individual">{{'Birth place' }}: <strong>{{item.value['birthPlace']}}</strong></div>
              <div class="col col-6" *ngIf="item.value['contactType'] == contactType.Company">{{'Legal form' }}: <strong>{{item.value['legalForm']}}</strong></div>
              <div class="col col-6" *ngIf="item.value['contactType'] == contactType.Individual">{{'Birth date' }}: <strong>{{item.value['birthDate'] | date: "MM/dd/yyyy"}}</strong></div>
              <div class="col col-6" *ngIf="item.value['contactType'] == contactType.Company">{{'Founding date' }}: <strong>{{item.value['foundingDate'] | date: "MM/dd/yyyy"}}</strong></div>
          </div>
          <div class="row pb-1">
              <div class="col col-6">{{'Street' }}: <strong>{{item.value['street']}}</strong></div>
              <div class="col col-3">{{'Nr.' }}: <strong>{{item.value['streetNumber']}}</strong></div>
              <div class="col col-3">{{'bus' }}: <strong>{{item.value['bus']}}</strong></div>
          </div>
          <div class="row pb-1">
              <div class="col col-4">{{'Postcode' }}: <strong>{{item.value['zip']}}</strong></div>
              <div class="col col-4">{{'Gemeente' }}: <strong>{{item.value['city']}}</strong></div>
              <div class="col col-4">{{'Land' }}: <strong>{{item.value['country']}}</strong></div>
          </div>
          <div class="row pb-1">
              <div class="col col-4">{{'Tel' }}: <strong>{{item.value['phone']}}</strong></div>
              <div class="col col-4">{{'Fax' }}: <strong>{{item.value['fax']}}</strong></div>
              <div class="col col-4">{{'GSM' }}: <strong>{{item.value['gsm']}}</strong></div>
          </div>
          <div class="row pb-1">
              <div class="col col-6">{{'E-mail' }}: <strong><a href="mailto:{{item.value['email']}}">{{item.value['email']}}</a></strong></div>
              <div class="col col-6">{{'URL' }}: <strong><a href="{{item.value['url']}}" target="_blank">{{item.value['url']}}</a></strong></div>
          </div>
          <div class="row pb-1">
              <div class="col">{{'Nationality' }}: <strong>{{item.value['nationality']}}</strong></div>
          </div>
          <div class="row pb-1">
              <div class="col">{{'Activity' }}: <strong>{{item.value['activity']}}</strong></div>
          </div>
          <div class="row">
              <div class="col">{{'BTW #' }}: <strong>{{item.value['vatNumber']}}</strong></div>
          </div>
      </div>

    <!-- </nz-collapse-panel>
  </nz-collapse> -->
  </div>

</div>
<!-- /Form el - type contact -->
</div>

<ng-container *nzModalFooter>
    
</ng-container>

<nz-drawer
  [(nzVisible)]="isDrawerVisible"
  [nzPlacement]="'top'"
  [nzClosable]="false"
  [nzHeight]="'56px'"
  [nzMask]="false"
>

<ng-container *nzDrawerContent>
    <div class="docked-action-bar">
      <div class="docked-action-left">
        <span nz-icon nzType="left" routerLink="/contacts"></span> 
        {{formTitle}}
      </div>
      <div class="docked-action-right">
        <span class="move-right" nz-icon nzType="printer" (click)="printComponent()"></span> 
        <!-- <span class="move-right" nz-icon nzType="download" (click)="download()"></span> -->
        <span class="move-right" nz-icon nzType="close" (click)="handleCancel()"></span>
      </div>
    </div>
</ng-container>

</nz-drawer>

