::ng-deep .ant-drawer-top > .ant-drawer-content-wrapper {
    width: auto !important;
    left: 286px;
    padding: 0;
    box-shadow: none;
}

::ng-deep .ant-drawer-content {
    background: #464646;
}

::ng-deep .ant-drawer-body {
    padding: 12px 16px;
}

.docked-action-bar, .docked-action-bar a {
    color: #fff;
}

#goBack {
    float: left;
    padding-top: 8px;
}

.docked-action-left {
    float: left;
    padding-top: 5px;
    padding-left: 14.5%;
}

.docked-action-right {
    float: right;
}

.docked-action-right span {
    vertical-align: text-top;
}

.move-right {
    margin-right: 15px;
}

/*::ng-deep .ant-modal-header {
    background-color: #464646;
    color: #fff;
}

::ng-deep .ant-modal-title {
    color: #fff;
}

::ng-deep .ant-modal-close {
    display: none;
}

::ng-deep .mat-mdc-radio-touch-target,
::ng-deep .mat-mdc-radio-button .mdc-radio__native-control,
::ng-deep .mdc-label, input, textarea, select {
    pointer-events: none;
} */

::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle, 
::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: #E43B4E !important;
}

.text-info {
    color: #0092DA !important;
    margin-top: 5px;
    font-size: 14px;
}

::ng-deep .mat-mdc-radio-button .mdc-radio {
    padding-left: 0 !important;
}

::ng-deep .mdc-label {    
    padding-left: 0 !important;
    padding-right: 20px !important;
}

.inputContainer {
    margin: 10px 0;
}

::ng-deep .ant-collapse {
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

::ng-deep .ant-collapse-arrow {
    position: absolute;
    top: 7px;
    right: 10px;
}

::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0px 16px;
}

::ng-deep .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding-top: 0;
    padding-bottom: 0;
}

::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-header-text {
    max-width: 95%;
}

::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    font-size: 17px;
    font-weight: 500;
}

:host {
    overflow-y: scroll;
    height: 85vh;
    display: block;
    padding: 0 15%;
}

::ng-deep html {
    overflow-y: hidden !important;
}

#formSelector {
    text-decoration: none;
}

::ng-deep .mat-mdc-form-field {
    width: 100%;
}

::ng-deep .modal-header .anticon-question-circle {
    display: none;
}

::ng-deep .modal-header h6 {
    text-align: center;
    font-size: 24px;
    padding-top: 25px;
    width: 100%;
    font-weight: 700;
    color: #000;
    font-family: 'Inter', Arial, Tahoma, Verdana, sans-serif;
}

::ng-deep .modal-content {
    color: #777;
    line-height: 22px;
    font-family: 'Inter', Arial, Tahoma, Verdana, sans-serif;
}

::ng-deep .modal-lg, .modal-xl {
    --bs-modal-width: 600px;
}

::ng-deep .modal-backdrop {
    z-index: 1055 !important;
}

::ng-deep .mp-button-light, ::ng-deep .mp-button-primary {
    height: 40px;
    border-style: solid;
    border-radius: 4px;
}

::ng-deep .ant-btn-default:hover {
    color: #000;
    border-color: #000;
}